body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6fa;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 6px;
  z-index: 2;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 1rem;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: red;
}
