.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 95px;
  background-color: #fff;
  cursor: pointer;
  width: 100%;

  .header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
  }
}

/******** Mobile View *************/

@media only screen and (max-width: 600px) {
  .header {
    padding: 0 3%;
  }

  .header-title {
    display: none;
  }
}

/******** Mobile View *************/

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 3%;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 0 3%;
  }
}
